<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>مشوار حياة</title>

  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/gallery/icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/icon.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/gallery/icon.png">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/gallery/icon.png">
  <link rel="manifest" href="assets/img/favicons/manifest.json">
  <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="assets/css/bootstrap-rtl.min.css">
  <link href="assets/css/theme.css" rel="stylesheet" />
  <link href="assets/css/custom.css" rel="stylesheet" />


</head>


<body>

  <main class="main" id="top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-1 d-block"
      data-navbar-on-scroll="data-navbar-on-scroll">
      <div class="bg-holder" style="background-color:#698c67;min-height:100%">
      </div>
      <div class="container"><a class="navbar-brand" href="index.html"><img src="assets/img/gallery/logo.png"
            height="85" width="70" alt="..." /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"> </span></button>
        <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
            <li class="nav-item px-2"><a class="nav-link fw-medium active" href="index.html">الرئيسية</a></li>
            <li class="nav-item px-2"><a class="nav-link" href="about-us.html">عن الجمعية</a></li>
            <li class="nav-item px-2"><a class="nav-link" href="news.html">الاخبار والانشطة</a></li>
            <li class="nav-item px-2"><a class="nav-link" href="index.html#photos">الصور والفاعليات</a></li>
            <li class="nav-item px-2"><a class="nav-link" href="index.html#support">شركاءنا</a></li>
          </ul>
          <form class="ps-lg-5">
            <a class="btn btn-light order-1 order-lg-0 contact-us-btn" href="contact-us.html">تواصل معنا </a>
          </form>
        </div>
      </div>
    </nav>





    <section class="pt-7 pb-6" style="background-color: #698c67; max-height:300px;margin-bottom: 100px;">

      <div class="container" style="padding: 100px 0px 0px;">
        <div class="row">

          <!-- article header and date -->
          <div class="col-sm-12 col-xl-6 mb-3 mt-4">
            <h2 style="color:white;justify-content: right;">افتتاح مقر المنيا</h2>
            <p class="text-muted">25 Oct. 2021</p>
          </div>

          <!-- article image -->
          <div class="col-sm-12 col-xl-6 mb-3 mt-4">
            <div style="display:flex;justify-content: left; margin-bottom: 80px;margin-top: -50px;">
              <img src="assets/img/gallery/about-us-img.jpg" width="400px">
            </div>
          </div>
        </div>
      </div>
    </section>


    <div class="container mt-1 pt-6">

      <div class="row">

        <div class="col-sm-12 col-xl-9 mb-3 mt-4">
          <div class="text-rigth">
            <p>
              قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
            </p>
            <p>
              قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
            </p> <p>
              قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
            </p> <p>
              قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
            </p> <p>
              قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
            </p> <p>
              قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
            </p> <p>
              قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
            </p> <p>
              قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
            </p> <p>
              قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
            </p> <p>
              قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
            </p> <p>
              قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
            </p> <p>
              قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
            </p> <p>
              قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
            </p> <p>
              قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
            </p> <p>
              قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
            </p> <p>
              قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
            </p> <p>
              قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
            </p> <p>
              قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
            </p> <p>
              قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
            </p> <p>
              قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
            </p> <p>
              قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
            </p> <p>
              قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
            </p> <p>
              قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
            </p> 
          </div>
        </div>

        <!-- another articles -->

        <div class="col-sm-12 col-xl-3">
          <h4>مزيد من الاخبار</h4>
          <br>

          <!-- 1 -->
          <div class="card card-span shadow py-2 border-top border-4 border-primary mb-4">
            <div class="card-body">
              <div class="text-center"><img src="assets/img/gallery/افتتاح.jpg" width="200" alt="..." />
                <h5 class="my-3">افتتاح مقر المنيا</h5>
                <p class="text-muted">
                  قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
                </p>
              </div>
              <div class="text-start ml-1">
                <a class="btn btn-light" style="font-size: 12px;font-weight: 100;" href="new.html" role="button">قراءة</a>
              </div>
            </div>
          </div>

          <!-- 2 -->
          <div class="card card-span shadow py-2 border-top border-4 border-primary mb-4">
            <div class="card-body">
              <div class="text-center"><img src="assets/img/gallery/افتتاح.jpg" width="200" alt="..." />
                <h5 class="my-3">افتتاح مقر المنيا</h5>
                <p class="text-muted">
                  قام محافظ المنيا مع الاستاذ محمد محمود بافتتاح فرع المنيا الجديد
                </p>
              </div>
              <div class="text-start ml-1">
                <a class="btn btn-light" style="font-size: 12px;font-weight: 100;" href="new.html" role="button">قراءة</a>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>


    <!-- footer -->
    <section class="py-0 py-xxl-6" id="footer">
      <!-- backgground -->
      <div class="bg-holder"
        style="min-height: 102%!important;background-image:url(assets/img/gallery/footer.png);background-position:initial;background-size:cover;">
      </div>

      <div class="container">
        <div class="row min-vh-75 text-center min-vh-xl-50 pt-10">
          <div class="col-6 col-md-6 col-xl-6 col-md-12 col-sm-12 col-xs-12  ">
            <h5 class="lh-lg fw-bold text-black">اهم الروابط</h5>
            <ul class="list-unstyled mb-md-4 mb-lg-0">
              <li class="lh-lg"><a class="text-200 text-decoration-none" href="news.html" style="color: rgb(71, 71, 71) !important;"> الاخبار والانشطة</a></li>
              <li class="lh-lg"><a class="text-200 text-decoration-none" href="index.html#photos" style="color: rgb(71, 71, 71) !important;">الصور والفاعليات</a></li>
              <li class="lh-lg"><a class="text-200 text-decoration-none" href="contact-us.html" style="color: rgb(71, 71, 71) !important;">تواصل معنا</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-5 col-xl-6 col-md-12 col-sm-12 col-xs-12  ">
            <h5 class="lh-lg fw-bold text-black">من نحن</h5>
            <ul class="list-unstyled mb-md-4 mb-lg-0">
              <li class="lh-md pl-5 pr-5 mb-5">
                <p class="text-100 text-decoration-none" style="color: rgb(71, 71, 71) !important;">خسائر اللازمة
                  ومطالبة حدة بل. الآخر الحلفاء أن غزو, إجلاء وتنامت عدد مع. لقهر معركة لبلجيكا، بـ انه, ربع الأثنان
                  المقيتة في, اقتصّت المحور حدة و. هذه ما طرفاً عالمية استسلام, الصين وتنامت حين ٣٠, ونتج والحزب المذابح
                  كل جوي. أسر كارثة المشتّتون بل, وبعض وبداية الصفحة غزو قد, أي بحث تعداد الجنوب</p>
              </li>
            </ul>
          </div>

          <div class="col-6 col-md-6 col-xl-6 col-md-12 col-sm-12 col-xs-12   mb-3 mt-4">
            <h5 class="lh-lg fw-bold text-black">فروعنا</h5>
            <ul class="list-unstyled mb-md-4 mb-lg-0">
              <li class="lh-lg"><a class="text-200 text-decoration-none" href="news.html"
                  style="color: rgb(71, 71, 71) !important;"> الاخبار والانشطة</a></li>
              <li class="lh-lg"><a class="text-200 text-decoration-none" href="photos.html"
                  style="color: rgb(71, 71, 71) !important;">الصور والفاعليات</a></li>
              <li class="lh-lg"><a class="text-200 text-decoration-none" href="contact-us.html"
                  style="color: rgb(71, 71, 71) !important;">تواصل معنا</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-6 col-xl-6 col-md-12 col-sm-12 col-xs-12  ">
            <h5 class="lh-lg fw-bold text-black">تواصل معنا</h5>
            <ul class="list-unstyled mb-md-4 mb-lg-0">
              <!-- put phone in href also -->
              <li class="lh-md pl-5 pr-5">
                <p class="text-100 text-decoration-none" style="color: rgb(71, 71, 71) !important;"><a
                    style="color: rgb(71, 71, 71) !important;" href="tel://010">010</a></p>
              </li>

              <!-- put email in href also -->
              <li class="lh-md pl-5 pr-5">
                <p class="text-100 text-decoration-none" style="color: rgb(71, 71, 71) !important;"><a
                    style="color: rgb(71, 71, 71) !important;" href="email://asd@ads.com">asd@asd.com</a></p>
              </li>
            </ul>
          </div>
        </div>
        <hr style="background-color: rgb(0, 0, 0);" />
        <div class="row flex-center pb-3">
          <div class="col-md-12">
            <p class="text-200 text-center" style="color:black !important"> <a class="text-200 fw-bold"
                style="color:black !important" href="https://fb.com/AxesDigitalAgency" target="_blank">AXES Digital
                Agency<img class="mr-3" src="assets/img/gallery/axesLogo.png" width="40px"> </a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>



  <script src="./vendors/@popperjs/popper.min.js"></script>
  <script src="vendors/bootstrap/bootstrap.min.js"></script>
  <script src="vendors/is/is.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
  <script src="vendors/fontawesome/all.min.js"></script>
  <script src="assets/js/theme.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap"
    rel="stylesheet">
</body>

</html>